* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
}

.text {
    flex: 0 0 580px;
    padding: 170px 0;
}

h1 span {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
}

h1 {
    margin: 0;
    margin-bottom: 39px;
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
    color: #FAF9F9;
}

p {
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    color: #DEDEDE;
}

a {
    display: inline-block;
    padding: 20px 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    background-color: #FBB731;
}

.visual {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

img {
    position: absolute;
    right: -168px;
    width: 829px;
}
